// 项目 scss 的全局变量

// layout sidebar 样式
$layout-sidebar-width: 250px;
$layout-sidebar-min-width: 60px;
$layout-sidebar-background-color: #001529;

// layout sidebar logo 样式
$layout-sidebar-logo-height: 50px;
$layout-sidebar-logo-title-size: 24px;

// layout header 样式
//$layout-header-height: 80px;
// layout navbar 样式
$layout-navbar-height: 50px;
